@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #000;
    color: #fff;
    height: 100vh;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.title {
    text-align: center;
    font-size: 2.5em;
    line-height: 2em;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: auto;
    width: 30vw;
    border-radius: 3%;
    border: 0.01em solid #fff;
    box-shadow: 0 0 2em 0.01em #fff;
}

input[name="r-btn"] {
    width: 0;
    height: 0;
}
.slider__wrapper {
    display: flex;
    width: 500%;
}
.slide-item {
    width: 25%;
    transition: all 0.5s;
}
.slide-item img {
    width: 100%;
    height: 100%;
}
.slider-box {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}
.slider__navigation {
    display: flex;
    align-items: center;
}
.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6em;
    height: 2em;
    cursor: pointer;
}
.nav-btn__item {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0.8);
    transition: all 0.5s linear;
}
.nav-btn:hover .nav-btn__item {
    background-color: rgba(240, 248, 255, 0.5);
}
.slider__info {
    overflow: hidden;
    height: 5rem;
}
.slider__descr {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}
#r-btn-1:checked ~ .slider__wrapper > .slide-item {
    transform: translate(0);
}
#r-btn-2:checked ~ .slider__wrapper > .slide-item {
    transform: translate(-100%);
}
#r-btn-3:checked ~ .slider__wrapper > .slide-item {
    transform: translate(-200%);
}
#r-btn-4:checked ~ .slider__wrapper > .slide-item {
    transform: translate(-300%);
}
#r-btn-5:checked ~ .slider__wrapper > .slide-item {
    transform: translate(-400%);
}
#r-btn-1:checked ~ .slider-box > .slider__info > .slider__descr {
    transform: translateY(0);
}
#r-btn-2:checked ~ .slider-box > .slider__info > .slider__descr {
    transform: translateY(-100%);
}
#r-btn-3:checked ~ .slider-box > .slider__info > .slider__descr {
    transform: translateY(-200%);
}
#r-btn-4:checked ~ .slider-box > .slider__info > .slider__descr {
    transform: translateY(-300%);
}
#r-btn-5:checked ~ .slider-box > .slider__info > .slider__descr {
    transform: translateY(-400%);
}

#r-btn-1:checked ~ .slider-box > .slider__navigation > label[for="r-btn-1"] > .nav-btn__item,
#r-btn-2:checked ~ .slider-box > .slider__navigation > label[for="r-btn-2"] > .nav-btn__item,
#r-btn-3:checked ~ .slider-box > .slider__navigation > label[for="r-btn-3"] > .nav-btn__item,
#r-btn-4:checked ~ .slider-box > .slider__navigation > label[for="r-btn-4"] > .nav-btn__item,
#r-btn-5:checked ~ .slider-box > .slider__navigation > label[for="r-btn-5"] > .nav-btn__item {
    background-color: rgba(44, 42, 42, 0.5);
    border: 0.3em solid #fff;
}

.footer {
    margin: 0 auto;
    width: 60%;
    font-size: 1.5em;
}
.footer__wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link img {
    height: 100%;
    width: 100%;
}
